extends layouts/_layout.pug

block variables
	- var activePage = 'formlist'
	- var activeGroup = 'forms'

block title
	title Form List

block content
	
	.row
		.col-md-12
			.tile
				.tile-body
					table.table.table-hover.table-bordered#form_list_table
						thead
							tr
								th Created On
								th Title
								th Form
								th Status
						tbody
							each form in formlist
								tr(id=form.id)
									- let form_date = new Date(form.createdAt);
									- let form_date_to_show = sails.config.custom.normalizeDigitsToTwo(form_date.getDate()) + '-' + sails.config.custom.normalizeDigitsToTwo(form_date.getMonth() + 1) + '-' + form_date.getFullYear() + ', ' + sails.config.custom.normalizeDigitsToTwo(form_date.getHours()) + ':' + sails.config.custom.normalizeDigitsToTwo(form_date.getMinutes());
									td=form_date_to_show
									td
										div=form.title
									td
										a(href=form.path) 
											button.btn.btn-primary Download
												i.fa.fa-download.ml-2
									td
										.toggle-flip
											label
												input(type="checkbox", checked=form.enabled, id='checkbox_'+form.id)
												span.flip-indecator(data-toggle-on="ENABLED", data-toggle-off="DISABLED", style="width:100px", onclick='toggleFormStatus("'+ form.id + '")')
						
block specific-js
	// Data table plugin
	include includes/datatable_js.pug
	
	script.
		let form_list_table = $('#form_list_table').DataTable({
			dom: 'lfrtBip',
			buttons: [
				'copy', 'csv', 'excel', 'pdf', 'print'
			]
		});
		
	if sails.config.custom.form_create[req.user.role]
		script.
			$('#form_list_table tbody').on( 'click', 'i.fa-trash-o', function () {
				console.log('clicked');
				let row = $(this).parents('tr');
				let formid = row.attr('id');
				swal({
					title: "Are you sure?",
					text: "Once deleted, you will not be able to recover this form!",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				}, function(willDelete) {
					if (willDelete) {
						$.post('/formdelete', {formid: formid}, function(response) {
							console.log(response);
							if(response.errormsg) {
								swal( "Oops", response.errormsg, "error");
							}
							else {
								swal("Poof! Your form has been deleted!", {icon: "success",});
								form_list_table
									.row(row)
									.remove()
									.draw();
							}
						});
					}
				});
			} );

			function toggleFormStatus(formid) {
				let originally_checked = $('#checkbox_'+formid).prop('checked');
				$.post('/formactivestatus', {formid: formid, set_form_status: !originally_checked}, function(response) {
					if(response.errormsg) {
						$('#'+formid).prop('checked', originally_checked);
						swal( "Oops", response.errormsg, "error");
					}
				});
			}
