extends layouts/_layout.pug

block variables
	- var activePage = 'membercreate'
	- var activeGroup = 'members'

block title
	title User Create

block content
	
	.row
		.col-md-3
		.col-md-6
			.tile
				h3.tile-title #{member ? 'Edit' : 'Create'} User
				.tile-body
					form(action=member?'/memberedit':'/membercreate', method='post', onsubmit='return validateForm()')
						
						if member
							input(hidden, value=member.id, name='membercreate_id')
						
						.row
							.form-group.col-md-4
								label.control-label First Name
								input#membercreate_fname.form-control(type="text", placeholder="Enter First Name", name='membercreate_fname', autofocus, value=member ? member.first_Name : '')
							.form-group.col-md-4
								label.control-label Middle Name
								input#membercreate_mname.form-control(type="text", placeholder="Enter Middle Name", name='membercreate_mname', autofocus, value=member ? member.middle_Name : '')
								
							.form-group.col-md-4
								label.control-label Last Name
								input#membercreate_lname.form-control(type="text", placeholder="Enter Last Name", name='membercreate_lname', autofocus, value=member ? member.last_Name : '')

						.row
							.form-group.col-md-6
								label.control-label Date of Birth
								if member
									-var dateobj = new Date(member.dob);
									-function pad(n) {return n < 10 ? "0"+n : n;}
									-var result = dateobj.getFullYear()+"-"+pad(dateobj.getMonth()+1)+"-"+pad(dateobj.getDate());
									input#membercreate_dob.form-control(type="date", placeholder="Enter DOB", name='membercreate_dob', value= result )
								else 
									input#membercreate_dob.form-control(type="date", placeholder="Enter DOB", name='membercreate_dob')

							
							.form-group.col-md-6
								label.control-label Phone
								input#membercreate_phone.form-control(type="text", placeholder="Enter Mobile Number", name="membercreate_phone", min='10', max='10', value=member ? member.contactNo : '')
							
						.form-group
								label.control-label Address
								if member
									textarea#membercreate_address.form-control(name="membercreate_address", placeholder="Enter Full Address", rows="3", cols="30")
										| #{member.address}	
								else
									textarea#membercreate_address.form-control(name="membercreate_address", placeholder="Enter Full Address", rows="3", cols="30")

						.row
							.form-group.col-md-4
								label.control-label Select State
								-let selected_state = member ? member.state : '';
								-let places = sails.config.custom.places;
								select#membercreate_state.form-control(name='membercreate_state')
									each state in places
										option(selected=(state.state===selected_state))=state.state

							.form-group.col-md-4
								label.control-label Select City
								select#membercreate_city.form-control(name='membercreate_city')
									if member
										option(selected=member.city)= member.city 

							.form-group.col-md-4
								label.control-label Pincode
								input#membercreate_pincode.form-control(type="text", placeholder="Enter Pincode", name='membercreate_pincode', value=member ? member.pincode : '')
						.row
							.form-group.col-md-2
								button.btn.btn-primary(type="submit")
									i.fa.fa-fw.fa-lg.fa-check-circle
									| #{member ? 'Edit' : 'Add'}								
		.col-md-3

block specific-js
	script(type='text/javascript', src='/js/validation.js')
	script.
		
		if("#{errormsg}")
			{
			swal("Oops","#{errormsg}", "error");
			}	
		
		let validation_input = [
			{tagid:'membercreate_fname', regex_name: 'text', errmsg: 'First Name must be of 3 - 50 character length', required: true, min: 3, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_mname', regex_name: 'text', errmsg: 'Middle Name must be of 3 - 50 character length', required: true, min: 3, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_lname', regex_name: 'text', errmsg: 'Last Name must be of 3 - 50 character length', required: true, min: 3, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_dob', regex_name: 'text', errmsg: 'Please Select the Date', required: true, min: 3, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_phone', regex_name: 'exact_x_digits', errmsg: 'Phone number must be of 10 digits', required: true, x_count: 10},
			{tagid:'membercreate_address', regex_name: 'text', errmsg: 'Please enter the Address', required: true, min: 1, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_pincode', regex_name: 'exact_x_digits', errmsg: 'Pincode number must be of 6 digits', required: true, x_count: 6},
			{tagid:'membercreate_state', regex_name: 'text', errmsg: 'Please Mention State', required: true, min: 1, max: 50, allow_numbers: true, other_chars: ' .\',-'},
			{tagid:'membercreate_city', regex_name: 'text', errmsg: 'Please Mention City', required: true, min: 1, max: 50, allow_numbers: true, other_chars: ' .\',-'},
		];
			
		function validateForm() {
			//- if($('#membercreate_address').val().length == 0)
			//- {
			//- 	alert("Enter Value")
			//- 	$('#membercreate_address').after('<span class="error_class", style="color: red; font-size: 12px">' + "please Enter the Address" + '<span>');
			//- 	$('#membercreate_address').focus();
			//- }
			return validate(validation_input);
		}

			let places = !{JSON.stringify(sails.config.custom.places)}
			let selected_city =''
			let selected_state = '#{member}' ? '{#member.state}' : "";
				$('#membercreate_state').change(function() {
				let cities = []
				let options =''
				let selected_state = $(this).val() 
					console.log(selected_state);
					for(i=0; places.length > i ; i++){
						if(places[i].state == selected_state) {
							cities = places[i].city
							console.log(cities)
						}     
					}
					for (i = 0; i < cities.length; i++) {
						//$('#city').append('<option>' + cities[i] + '</option>')
						options += '<option value="' + cities[i] + '">' + cities[i] + '</option>';
					}
					$('#membercreate_city').html(options)
					//- cities.map(city=>{
					//-     console.log(city);
					//-      $("<option/>").
					//-                 val(city).
					//-                 text(city).
					//-                 appendTo("#city");
					//- })
				
				}); 
